a{
  color: #48649F;
}
/*.navbar {
  background-color: #48649F;
}
.navbar-default .navbar-nav > li > a{
  color: #FFFFFF;
  font-size: 13pt;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #FFCA00;
}*/
.cd-intro {
  position: relative;
  height: 100vh;
  width: 100%;
  /*background-color: #303F9F;*/
  /* vertically align its content */
  display: table;
  /*background: url("https://github.com/ospdev/ospdev.github.io/blob/master/img/Moon.png?raw=true");*/
  overflow: hidden;
}
.cd-intro-content {
  /* vertically align inside its parent */
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 50px 5%;
  /*background-color: #303F9F;*/
}
.punchline {
  color: #000000;
  font-size: 36pt;
  padding-bottom: 25px;
  padding-top: 25px;
}
.btn-bleu{
  color: #48649F;
  background-color: #FFFFFF;
  border-color: #48649F;
  border-style: solid;
  border-width: 2px;
  font-size: 17pt;
  margin: 10px;
}
.btn-bleu:hover{
  color: #FFFFFF;
  background-color: #48649F;
}
.btn-or{
  color: #FFCA00;
  background-color: transparent;
  border-color: #FFCA00;
  border-style: solid;
  border-width: 2px;
  font-size: 17pt;
  margin: 10px;
}
.btn-or:hover{
  color: #FFFFFF;
  background-color: #FFCA00;
}
img.speaker {
  padding-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.cd-story{
  position: relative;
  height: 100vh;
  width: 100%;
  /* vertically align its content */
  display: table;
  background: #F2F2F2;
  overflow: hidden;
}
.cd-story-content{
  /* vertically align inside its parent */
  display: table-cell;
  vertical-align: middle;
  /*padding: 0 5%;*/
  background: #F2F2F2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.story {
  border-color: #FFCA00;
  border-style: solid;
  border-width: 2px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18pt;
  border-radius: 3px;
}
.cd-offre {
  position: relative;
  height: 100vh;
  width: 100%;
  /* vertically align its content */
  display: table;
  background: #FFFFFF;
  overflow: hidden;
}
.cd-offre-content {
  /* vertically align inside its parent */
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 0 5%;
  background: #FFFFFF;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.punchline-offre{
  font-size: 32pt;
  color: #000000;;
  margin-left: 150px;
  margin-right: 150px;
  padding-bottom: 60px;
  padding-top: 30px;
}