
ul.nav li {
  float: right;
  display: inline;
  padding-right: 0px;
}
.navbar {
  background-color: #48649F;
}
.navbar-default .navbar-nav > li > a{
  color: #FFFFFF;
  font-size: 13pt;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #FFCA00;
}
.cd-intro {
  position: relative;
  width: 100vw;
  /* vertically align its content */
  display: table;
  background: #EFF5FC;
  overflow: hidden;
}
.cd-intro-content {
  /* vertically align inside its parent */
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 100px 5%;
}
.punchline {
  color: #000000;
  font-size: 20pt;
}
.sous-punchline{
  color: #000000;
  font-size: 16pt;
  font-weight: 300;
  padding-bottom: 30px;
}
.punchline-offre{
  font-size: 12pt;
  color: #53516A;
  margin-left: 200px;
  margin-right: 200px;
  padding-bottom: 30px;
  padding-top: 30px;
}
.cd-offre {
  position: relative;
  height: 100vh;
  width: 100%;
  /* vertically align its content */
  display: table;
  background: #48649F;
  overflow: hidden;
}
.cd-offre-content {
  /* vertically align inside its parent */
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 0 5%;
  background: #48649F;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
img.speaker {
  padding-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.cd-story{
  position: relative;
  height: 100vh;
  width: 100%;
  /* vertically align its content */
  display: table;
  background: #FFFFFF;
  overflow: hidden;
}
.cd-story-content{
  /* vertically align inside its parent */
  display: table-cell;
  vertical-align: middle;
  padding: 0 5%;
  background: #FFFFFF;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.story {
  border-color: #FFCA00;
  border-style: solid;
  border-width: 2px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 200px;
  margin-right: 200px;
  font-size: 18pt;
  border-radius: 3px;
}
.cd-equipe{
  position: relative;
  height: 100vh;
  width: 100%;
  /* vertically align its content */
  display: table;
  background: #48649F;
  overflow: hidden;
}
.cd-equipe-content{
  /* vertically align inside its parent */
  display: table-cell;
  vertical-align: middle;
  padding: 0 5%;
  background: #48649F;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.thumbnail {
  max-width: 70%;
  background-color: #FFFFFF;
  border-color: #FFCA00;
  border-width: thin;
  text-align: center;
}
.fa {
  padding-left: 8px;
  color: #000000;
}
.fa:hover {
  color: #61B4F3;
}

.btn-bleu{
  color: #ffffff;
  background-color: #65B5F0;
  border-color: transparent;
  border-style: solid;
  border-width: 2px;
  font-size: 12pt;
}
.btn-or{
  color: #FFCA00;
  background-color: transparent;
  border-color: #FFCA00;
  border-style: solid;
  border-width: 2px;
  font-size: 12pt;
  margin-left: 20px;
}
.btn-bleu:hover{
  color: #89C7FA;
}
.btn-or:hover{
  color: #FFFFFF;
  background-color: #FFCA00;
}
